<div class="container-fluid footer">
<div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <h3>Se-Pro</h3>
        <ul>
          <li>Cras justo odio</li>
          <li>Dapibus ac facilisis in</li>
          <li>Morbi leo risus</li>
          <li>Porta ac consectetur ac</li>
          <li>Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-12">
        <h3>Account</h3>
        <ul>
          <li>Cras justo odio</li>
          <li>Dapibus ac facilisis in</li>
          <li>Morbi leo risus</li>
          <li>Porta ac consectetur ac</li>
          <li>Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12">
        <h3>Be the first ti Know</h3>
      </div>
    </div>
    <div class="row">
      <p class="copyright">© {{year}} Se-Pro, Inc.</p>
    </div>
</div>
</div>