<div class="container-fluid footer">
<div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <h3>Se-Pro</h3>
        <ul>
          <li *ngFor="let link of links"><a [href]="link.path" *ngIf="link.type=='sepro'">{{link.name}}</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-12">
        <h3>Account</h3>
        <ul>
          <li *ngFor="let link of links"><a [href]="link.path" *ngIf="link.type=='account'">{{link.name}}</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12">
        <h3>Be the first to Know</h3>
        <p>Get all the latest information about any services. Sign up for newsletter today.</p>
        <p>Enter your email address</p>
        <input type="text" placeholder=""/><button>Send</button>
      </div>
    </div>
    <div class="row">
      <p class="copyright">© {{year}} Se-Pro, Inc.</p>
    </div>
</div>
</div>