.footer{
    border-top: 1px solid #b9b9b9;
    margin-top: 40px;
    padding-top: 20px;
}
.copyright{
    border-top: 1px solid #b9b9b9;display: block;
    margin-top: 20px;
    padding-top: 10px;
    width: 100%;
}

ul,li{
    margin: 0;
    padding: 0
}
li {
    list-style: none;
}