<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="login-form" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
          <div class="form-group" [ngClass]="{
            'has-danger': formValidation
          }" *ngIf="formValidation">
            <div class="form-control-feedback">
              <p>{{formValidationMessage}}</p>
            </div>
          </div>
        <div class="form-group" [ngClass]="{
          'has-danger': username.invalid && (username.dirty || username.touched)
        }">
          <label for="exampleInputEmail1">Username or Email address</label>
          <input type="email" class="form-control" formControlName="username" aria-describedby="emailHelp" placeholder="Enter username or email">
          <div class="form-control-feedback" *ngIf="username.invalid && (username.dirty || username.touched)">
            <p>Username or Email is required</p>
          </div>
        </div>
        <div class="form-group" [ngClass]="{
          'has-danger': password.invalid && (password.dirty || password.touched)
        }">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
          <div class="form-control-feedback" *ngIf="username.invalid && (username.dirty || username.touched)">
            <p>Password is required</p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>