<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <app-filter></app-filter>
    </div>
    <div class="col-md-9 col-xs-12">
      <div class="notification" [class.visible]="showNotification$ | async">
        <span>There's new data available. Click to reload the data.</span>
        <button color="accent" (click)="forceReload()">
          <div class="flex-row">
            UPDATE
          </div>
        </button>
      </div>
      <div class="row feature-services">
        <div class="col-12">
          <h3 class="title-feature">Featured Services </h3>
          <div class="row">
            <div class="col-sm-3 offer-card" *ngFor="let featureCard of featuredCards;">
              <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-12">
          <h3 class="title-whatsnew">What's New</h3>
          <div class="row">            
              <div class="col-sm-12 offer-card" *ngFor="let offer of offers$| async  | reverse | slice:0:4" (click)="offerClick(offer.id)">
                  <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <svg class="bd-placeholder-img" width="100%" height="190" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{offer.title}}</h5>
                          <p class="card-text" >{{offer.description | slice:0:128}}<span *ngIf="offer.description.length > 128">...</span></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <h3 class="title-whatshot">What's Hot</h3>
          <div class="row">            
              <div class="col-sm-12 offer-card" *ngFor="let service of services;" (click)="offerClick(service.id)">
                  <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <svg class="bd-placeholder-img" width="100%" height="190" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="row feature-services">
        <div class="col-12">
          <h3 class="title-feature">Services In Lisbon</h3>
          <div class="row">
            <div class="col-sm-3 offer-card" *ngFor="let featureCard of offers$ | async | filter:filterargs | slice:0:4;" (click)="offerClick(featureCard.id)">
              <div class="card">
                <svg class="bd-placeholder-img" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                <div class="card-body">
                  <h5 class="card-title">{{featureCard.title}}</h5>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div>
      <div class="row feature-services">
          <div class="col-12">
            <h3 class="title-feature">Who are Looking for Service?</h3>
            <div class="row">
              <div class="col-sm-3" *ngFor="let featureCard of featuredCards;" (click)="offerClick(featureCard.id)">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
              </div>
            </div>        
          </div>
        </div>
    </div>
  </div>
</div>